<p id="notice"><%= notice %></p>

<h1>Chatroomposts</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatroomposts.each do |chatroompost| %>
      <tr>
        <td><%= chatroompost.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroompost', new_chatroom_chatroompost_path %>
