= render 'homes/navigation'
%div.profile-container.header
  %h2 大学
%div.profile-container.body
  #profile-left
    %ul
      %li.profile-li
        基本信息
      %li.profile-li
        个人爱好
      %li.profile-li
        工作/活动经历
  #profile-right
    #div1
      = render 'basicinfo'
    #div2
      2222222
    #div3
      3333333
    