#login-form-container
  %h1
    Login
  = form_tag sessions_path, :remote => true do
    = text_field_tag :username, nil, :placeholder => "Username"
    = password_field_tag :password, nil, :placeholder => "Password"
    %div.error_message
    = submit_tag "Login"