#chatroom-page-container
  #chatroom-placeholder
    #left-div
      = link_to 'Explore Chatroom', chatrooms_path, :remote => true
    #right-div
      = link_to 'Create Chatroom', new_chatroom_path, :remote => true