/ %div.navbar
/   %div.navbar-content-container
/     %span
/       %i.fa.fa-search
/     = text_field_tag "search"

%div.getstarted
  %div
    #first-page-header
      Bubbles
    #first-page-intro
      Explore and find the community you will dedicate to
    = link_to "Get Started", users_path, :id => "start_link", remote: true
    = link_to "Login", sessions_path, :id => "login_link", remote: true