// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url("https://c2.staticflickr.com/8/7204/6785515262_22f0b2767d_b.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

#channel-main-container{
    margin-top: 70px;
	width: 100%;
	height: 100%;
	clear: both;
	#left-container{
	  float: left;
	  width: 25%;
	  height: calc(100vh - 70px);
	  color: white;
	  #group-container {
	    height: calc(78vh - 40px);
	    overflow: scroll;
	    border-bottom: 2px solid grey;
	    h1 {
	      height: 37px;
	      padding-left: 3%;
	      border-bottom: 2px solid grey;
	    }
	    p {
	      position: relative;
          left: -10px;
          a {
            text-decoration: none!important;
            font-size: 20px;
          }
        }
	  }
      #post-container{
        height: calc(22vh - 30px);
        padding-left: 5px;
        p {
          font-size: 25px;
        }
      }
	}
	#right-container{
	  p {
	    color: white;
	    font-size: 25px;
	    padding-left: 40%;
	    font-weight: 700;
	  }
	  background-color: black;
	  color: white;
	  opacity: 0.9;
	  float: right;
	  width: 75%;
	  height: 100vh;
	  overflow: scroll;
	  #message-board{
	    margin-left: 10%;
	    margin-right: 10%;
	    width: 80%;
        .every-post {
          width: 100%;
          min-height: 40px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 22px;
          border-bottom: 1px solid grey;
          max-height: 800px;

        }
	  }
	}
}
