// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url("https://c2.staticflickr.com/8/7204/6785515262_22f0b2767d_b.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

#channel-main-container{
    margin-top: 70px;
	width: 100%;
	height: 100%;
	clear: both;
	#left-container{
	  float: left;
	  width: 21%;
	  height: 100vh;
	  color: white;
	  #group-container {
	    height: 75vh;
	    overflow: auto;
	    border-bottom: 2px solid grey;
	    h1 {
	      height: 37px;
	      padding-left: 3%;
	      border-bottom: 2px solid grey;
	    }
	    p {
	      position: relative;
          left: -10px;
          a {
            color: white;
            text-decoration: none!important;
            font-size: 20px;
          }
        }
	  }
      #post-container{
        height: 15vh;
        padding-left: 5px;
        p {
          font-size: 25px;
        }
      }
	}
	#right-container{
	  p {
	    color: white;
	    font-size: 25px;
	    padding-left: 40%;
	    font-weight: 700;
	  }
	  margin-top: 30px;
	  background-color: #101010;
	  color: white;
	  opacity: 0.8;
	  float: right;
	  width: 72%;
	  margin-right: 7%;
	  height: 100vh;
	  #message-board{
	    height: 75vh;
	    overflow: auto;
	    margin-left: 10%;
	    margin-right: 10%;
	    width: 80%;
        .every-post {
          width: 100%;
          min-height: 40px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 18px;
          max-height: 800px;

        }
	  }
	  #new-message{
	    height: 25vh;
	    #message-input{
	      display: inline-block;
	      input#message_body{
	        margin-left: 90px;
	        width: 480px;
            height: 40px;
            border-radius: 0.3em;
	      }
	    }
	    #chatroom-submit {
	      margin-left: 0px;
	      display: inline-block;
	      height: 45px;
	      input{
	        border-radius: 0.3em;
	        height: 45px;
	        margin-left: 0px;
	        background-color: green;
	      }
	    }
	  }
	}
}
