// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body.chatroom-body{
	background: url("http://www.iwallhd.com/stock/coolest-backgrounds-best-desktop-wallpapers-stuffheaven.jpg") no-repeat center center fixed!important;
	/*background: url("https://artfiles.alphacoders.com/837/83782.jpg") no-repeat!important ;*/
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#channel-main-container{
    margin-top: 70px;
	width: 100%;
	height: 100%;
	clear: both;
	#left-container{
	  float: left;
	  width: 21%;
	  height: 100vh;
	  color: white;
	  #group-container {
	    height: 75vh;
	    overflow: auto;
	    border-bottom: 2px solid grey;
	    h1 {
	      height: 37px;
	      padding-left: 3%;
	      border-bottom: 2px solid grey;
	    }
	    p {
	      position: relative;
          left: -10px;
          a {
            color: white;
            text-decoration: none!important;
            font-size: 20px;
          }
        }
	  }
      #post-container{
        height: 15vh;
        padding-left: 5px;
        p {
          font-size: 25px;
        }
      }
	}
	#right-container{
	  p {
	    color: white;
	    font-size: 25px;
	    padding-left: 40%;
	    font-weight: 700;
	  }
	  margin-top: 30px;
	  background-color: #101010;
	  color: white;
	  opacity: 0.8;
	  float: right;
	  width: 72%;
	  margin-right: 7%;
	  height: 100vh;
	  #message-board{
	    height: 75vh;
	    overflow: auto;
	    margin-left: 10%;
	    margin-right: 10%;
	    width: 80%;
        .every-post {
          width: 100%;
          min-height: 40px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 18px;
          max-height: 800px;

        }
	  }
	  #new-message{
	    height: 25vh;
	    #message-input{
	      display: inline-block;
	      input#message_body{
	        margin-left: 90px;
	        width: 480px;
            height: 40px;
            border-radius: 0.3em;
	      }
	    }
	    #chatroom-submit {
	      margin-left: 0px;
	      display: inline-block;
	      height: 45px;
	      input{
	        border-radius: 0.3em;
	        height: 45px;
	        margin-left: 0px;
	        background-color: green;
	      }
	    }
	  }
	}
}

#chatroom-page-container{
	min-height: 70px;
	position: absolute;
	width: 100%;
	#chatroom-placeholder{
		opacity: 0.8;
		background-color: #dee0e2;
		position: relative;
		height: 70px;
		#left-div{
			position: relative;
			top: 15px;
			margin-left: 30%;
			float: left;
			a {
				border-radius: 0.5em;
				padding-top: 10px;
				padding-left: 15px;
				font-size: 16px; 
				background-color: white;
				text-decoration: none;
				width : 150px;
				height : 30px;
				display: block;
				border: 1px green solid;
				-webkit-transition: all 2s;
			}

			a:hover {
				background-color: green;
				color: white;
			}
		}
		#right-div{
			top: 15px;
			margin-left: 60%;
			a {
				color: #666;
				position: relative;
			    top: 15px;
				border-radius: 0.5em;
				padding-top: 10px;
				padding-left: 15px;
				font-size: 16px;  
				background-color: white;
				text-decoration: none;
				width : 150px;
				height : 30px;
				display: block;
				border: 1px green solid;
				-webkit-transition: all 2s;
			}
			a:hover {
				background-color: green;
				color: white;
			}
		}
	}

	h1{
		margin-top: 30px;
		margin-left: 45%;
		margin-bottom: 20px;
	}

	.showchatroom {
		/*border-radius: 0.5em;
		border: 1px solid green;*/
		margin-bottom: 40px;
		min-height: 200px;
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
		p{
			display: block;
			margin: 0;
			a {
				position: relative;
				padding-left: 60px;
				background-color: rgba(0, 0, 0, 0.6);
				-webkit-filter: brightness(90%); /* Safari 6.0 - 9.0 */
    			filter: brightness(90%);
				opacity: 0.8;
				padding-top: 40px;
				border: 1px solid grey;
				display: block;
				height: 70px;
				/*background-color: #dee0e2;*/
				color: white;
				text-decoration: none;
				font-size: 19px;
				font-weight: 900;
				-webkit-transition: all 2.7s;
				.middlespan {
					position: absolute;
					display: block;
					left: 45%;
					font-size: 20px;
				}

				.tailspan {
					position: absolute;
					display: block;
					left: 75%;
					top: 65px;
					font-size: 12px;
				}
			}

			a:hover{
				background-color: black;
			}
		}
	}

	.createchatroom {
		.chatroom-form-container{
			/*position: relative;*/
			margin-bottom: 40px;
			font-size: 17px;
			color: white;
			font-weight: 900;
			position: absolute;
			margin-top: 40px;
			margin-left: 15%;
			margin-right: 15%;
			width: 70%;
			min-height: 450px;
			background-color: rgba(0, 0, 0, 0.6);
			-webkit-filter: brightness(90%); /* Safari 6.0 - 9.0 */
    		filter: brightness(90%);
    		h1 {
    			/*position: absolute;*/
    			margin-left: 37%;
    			display: block;
    			margin-top: 40px;
    			font-size: 20px;
    			color: white;
    		}
    		.field{
    			div{
	    			margin-left: 60px;
	    			margin-top: 30px;
	    			label {
	    				float: left;
	    				clear: both;
	    				display: inline-block;
	    				margin-right: 30px;
	    			}
		    		input[type = "text"] {
		    			top: 14px;
		    			width: 70%;
		    			border-radius: 0.5em;
		    			height: 35px;
		    			font-size: 20px;
		    			color: black;
		    			font-weight: 1200;

		    		}
		    		input[type = "radio"] {
		    			display: inline-block;
		    		}
	    		}
    	    }

    	    .actions {
    	    	input[type = "submit"] {
	    			width: 200px;
	    			height: 60px;
	    			background-color: white;
	    			font-size: 17px;
	    			border-radius: 0.5em;
	    			margin-left: 43%;
	    			border: 1px green solid;
	    			color: green;
	    			-webkit-transition: all 2.3s;
	    		}
	    		input[type = "submit"]:hover {
	    			background-color: green;
	    			color: white;
	    		}
    	    }
		}
	}
}
