body,html{
	height: 100%;
	width: 100%;
}
.backgroud-wrap{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -1000
}

.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
	.navbar-content-container{
	  margin-left: 60px;
	  margin-top: 20px;
	  span {
	    position: relative;
	    display: inline-block;
	    font-size: 24px;
	    left: 34px;
	    top: 5px;
	  }
	  input[type = "text"] {
	    margin-left: 0;
	    display: inline-block;
	    margin-top: 20px;
	    width: 450px;
	    opacity: 0.1;
	    color: white;
	    background-color: black;
	  }
	}
}

.getstarted {
	position: fixed;
	margin-left: 39%;
	margin-right: 39%;
	width: 22%;
	margin-top: 225px;
	div {
	    width: 100%;
	    #first-page-header{
	      width: 100%;
	      font-size: 48px;
	      text-align: center;
	      color: white;
	      font-weight: 900;
	    }
	    #first-page-intro{
	      display: inline-block;
	      width: 60%;
	      padding-left: 20%;
	      padding-right: 20%;
	      margin-top: 25px;
	      margin-bottom: 30px;
	      font-size: 13px;
	      text-align: center;
	      color: white;
	      font-weight: 500;
	    }
	    a { 
            display: inline-block;
            height: 36px;
            width: 100%;
            text-decoration: none;
            text-align: center;
            border-radius: 0.1em;
            margin-bottom: 25px;
            padding-top: 18px;
            font-size: 18px;
            color: white;
            font-weight: 700;
        }
        a#login_link{
            background-color: #90EE90;
            opacity: 0.8;
        }
        a#start_link{
            background-color: transparent;
            opacity: 0.9;
            border: 1px solid white;
        }

	}
	
	div#login-form-container, div#signup-form-container{
		position: relative;
        left: -70px;
        opacity: 0.7;
        background-color: white;
        border: 1px solid white;
        border-radius: 0.5em;
        h1{
			font-size: 35px;
			margin-top: 40px;
			color: green;
			font-weight: 500;
		}
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px white inset;
          color: white;
        }
        input[type = "text"], input[type = "password"] {
        	margin-left: 50px;
        	margin-right: 50px;
        	font-size: 27px;
        	font-weight: 700;
        	height: 40px;
        	display: inline-block;
		    margin-bottom: 30px;
            outline: 0;
		    width: 100%;
		    border-bottom: 2px solid green;
		    border-radius: 0;
		    color: grey;
        }

	    div.error_messgae {
	    	padding-left: 5px;
            padding-top: 3px;
            font-size: 23px;
            color: red;
	    	margin-left: 50px;
	    	margin-right: 50px;
	    	width: 350px!important;
	    	min-height: 30px;
	    	max-height: 35px;
	    }

	    .back-button {
	       position: relative;
	       margin-left: 43px;
           top: -55px;
           width: 140px;
           height: 35px;
           border-radius: 0.5em;
           background-color: white!important;
	       border: 1px solid green;
		   font-size: 12px;
		   font-weight: 700;
		   color: white;
		   cursor: pointer;
		   font-size: 25px;
		   color: green;
		   font-weight: 400;
	    }
	    input[type = "submit"] {
	    	margin-top: 50px;
	    	height: 55px;
	    	background-color: white!important;
	    	border: 1px solid green;
		    font-size: 12px;
		    font-weight: 700;
		    color: white;
		    cursor: pointer;
		    font-size: 25px;
		    color: green;
		    font-weight: 400;
	    }
	    input:focus::-webkit-input-placeholder { color:transparent; }
        input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
        input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
        input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
	}

	div#login-form-container{
		top: -100px;
		height: 460px;
		width: 450px;
		h1{
			margin-left: 185px;
		}
		input[type = "text"] {
		    margin-top: 40px;
		    width: 350px!important;
	    }

	    input[type = "password"] {
		    margin-top: 30px;
		    width: 350px!important;
	    }

	    input[type = "submit"]{
            width: 145px;
            margin-left: 265px;
	    }
	}

	div#signup-form-container{
		top: -165px;
		height: 575px;
		width: 480px;
		h1{
			margin-left: 175px;
		}
		input[type = "text"] {
		    margin-top: 15px;
		    width: 380px!important;
	    }

	    input[type = "password"] {
		    margin-top: 15px;
		    width: 380px!important;
	    }

	    input[type = "submit"]{
            width: 245px;
            margin-left: 215px;
	    }
	}
}