// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form-container {
    width: 100%;
    h2 {
        text-align: center;
    }
    a {
      font-size: 14px;
      margin-left: 10%;
      color: black!important;
      text-decoration: none!important;
      background-color: white!important;
    }
    
    a:hover {
      color: green!important;
    }

}

input {
    margin: 0;
    border: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid black;
}

input[type = "submit"] {
    background-color: navy;
    font-size: 12px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}


