<html>
  <head>
    <title>Minipiazza</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src = "https://use.fontawesome.com/150e01fc18.js"></script>
  </head>

  <body>
    <div class = "main-navbar">
      <ul class = "ul-left"> 
        <li>Logo</li>
      </ul>
      <ul class = "ul-right">
        <li><i class="fa fa-home" aria-hidden="true"></i>Home</li>
        <li><i class="fa fa-file-text" aria-hidden="true"></i>Profile</li>
        <li><i class="fa fa-user-plus" aria-hidden="true"></i>Find Friends</li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>